@charset "UTF-8";

/*
Pequenas telas: até 600px
Celular: 600 a 768px;
Tablet: 768 a 992px;
Desktop: 992 a 1200px;
TV: acima de 1200px;
 */


@media screen and (min-width: 768px) and (max-width: 992px) {
    div#login {
        width: 800px;
        max-width: 80%;
        height: 310px;
        padding: 0;

    }

    div#imagem {
        float: left;
        height: 500px;
        width: 35%;
        padding: 0;
        margin: 0;
    }

    div#formulario {
        float: right;
        width: 60%;
        margin-right: 2%;
    }

}
 @media screen and (min-width: 992px) {
    div#login {
        width: 800px;
        height: 310px;
        padding: 0;
        
    }
    
    div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        margin: 0;
    }

    div#formulario {
        float: left;
        width: 45%;
        padding-left: 20px;

    }
 }