@charset "UTF-8";

/* Paleta de cores_
Rosa: #DB876D
Amarelo: #FAC957
Rosa claro: #F5DDD5
Verde claro: #71A89D
Verde escuro: #103D3B
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    background-image: linear-gradient(#71A89D, #F5DDD5);
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

div#login {
    background-color: white;
    width: 280px;
    height: 540px;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.178);
    transition: width .3s, height .3s;
}

div#imagem {
    background: rosybrown url(img/recepcao.png) no-repeat;
    height: 250px;
    background-size: cover;
    width: 300px;
    margin-left: -10px;
    margin-top: -10px;
    display: block;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

div#formulario {
    display: block;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 10px 0;color:#71A89D;
}

p {
    font-size: 0.8em;
    margin: 10px 0;
    box-sizing: border-box;
    color: #103D3B;
    text-align: justify;
}



form input[type=submit] {
    display: block;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    background-color: #71A89D;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-top: 5px;
}

form input[type=submit]:hover {
    background-color: #63a094;
    color: #103D3B;
    transition: .1s;
}

div.campo {
    background-color: #DB876D;
    border-radius: 8px;
    padding: 0px;
    margin: 5px 0;
}

.campo label {
    height: 25px;
    width: 32px;
    color: white;
    padding-top: 7px;
    float: left;
/*     margin: auto; */
}

.campo input {
    width: calc(100% - 32px);
    height: 40px;
    margin-top: 5px;
    border: 1px solid #DB876D;
    border-radius: 8px;
    box-sizing: border-box;
    margin: auto;
}

.botao {
    width: 100%;
    display: block;
    border: 2px solid #71A89D;
    border-radius: 8px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 1em;
    color: #71A89D;
    text-decoration: none;
    height: 40px;
    cursor: pointer;
    padding-top: 7px;
    margin-top: 5px;
}

.botao:hover {
    background-color: #71A89D;
    color: white;
    transition: .1s;
}